/*logo图片样式*/
.logo-box{
    margin-left: 40px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.logo-img{
    width: 100px;
    height: 100px;
}

.navigation-box{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}