/* 全局样式：包裹侧边栏和主内容区，实现Flex横向布局 */
.teacher-dashboard {
    width: 100%;
    display: flex;
    min-height: 100vh;
    font-family: 'Inter', 'system-ui', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #844fde;
}

/* 右侧主内容区样式 */
.main-content-teacher-info {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

/* 内容区域样式 */
.content-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;

}
