.footer {
    /* 底部信息容器 */
    width: 100%;
    height: 180px;
    padding: 15px;
    display: flex;
    gap: 100px;/*间隔*/
    flex-direction: row;
    align-items: center;
    background-color: #1a1a2e;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

}

.qr-code {
    /* 二维码区域 */
    display: flex;
    flex-direction: column;
}
.qr-code img {
    /*二维码图片*/
    margin-top:30px ;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

