.learning-machine-side-logo-box {
    margin-left: 50px;
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.logo-title{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 楷体, serif;
    color: rgba(0, 0, 0, 0.84);
}
/*用户信息模块样式*/
.auth-box-learning-machine{
    display: flex;
    align-items: center;
    margin-left: 100px;

}

/*下拉框样式*/
.dropdown-menu-learning-machine{
    cursor: pointer;
    display: flex;
    align-items: center;
}

/*标题样式*/
.learning-machine-top-text{
    margin-left: 350px;
    width: 800px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 楷体, serif;
    color: rgba(102, 100, 190, 0.67);
}